html,
body {
    background: #000;
//    margin-left: auto;
//    margin-right: auto;
}

/*
button {
	margin: 0;
	padding: 2;
	border: 1;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	color: inherit;
	-webkit-appearance: none;
	/*-moz-appearance: none;*/ /*
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}


#martenblog {
        background: #000;
	margin: 40px 0 40px 0;
//	position: relative;
}
*/

#header {
}

#bollocks:before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 110px;
    z-index: 2;
    content: '';
    background: -webkit-gradient(linear, left top, right bottom, from(rgba(30, 50, 230, 0.1)),to(rgba(230, 50, 30, 0.9)));
    background: -webkit-linear-gradient(left, rgba(30, 50, 230, 0.1), rgba(230, 50, 30, 0.9));
    background: -moz-linear-gradient(left, rgba(30, 50, 230, 0.1), rgba(230, 50, 30, 0.9));
    background: -o-linear-gradient(left, rgba(30, 50, 230, 0.1), rgba(230, 50, 30, 0.9));
    background: -ms-linear-gradient(left, rgba(30, 50, 230, 0.1), rgba(230, 50, 30, 0.9));
    background: linear-gradient(left, rgba(30, 50, 230, 0.1), rgba(230, 50, 30, 0.9));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#1e32e6', EndColorStr='#e6321e');
}

#header img {
    height: 90px;
    width: 127px;
    z-index: 10;
//    outline: solid;
    padding: 0;
    margin: 10px 0 10px 0;
}

#header #title {
    padding-right: 0px;
    padding-top: 25px;
    font-size: 36px;
}

#sidebar img {
    height: 90px;
//    outline: solid;
    margin-top: 10px;
}

#hlavni {
    background: #223322;
//    border-bottom: #eee solid 1px;
}

#rutabaga, #sidebar {
    background: #223322;
    color: #afafaf;
}

#rutabaga {
//    border-left: #ccc solid 1px;
//    border-top: #ccc solid 1px;
//    border-bottom: #ccc solid 1px;
}

#sidebar {
//    border-right: #ccc solid 1px;
//    border-top: #ccc solid 1px;
//    border-bottom: #ccc solid 1px;
}

.entry .timestamp, .full-entry .timestamp {
    font-style: italic;
}

.entry .subject, .full-entry .subject {
    font-weight: bold;
}

.entry .topics, .full-entry .topics {
    margin-bottom: 5px;
    border-bottom: #444 solid 1px;
}

.entry .actual-entry, .full-entry .actual-entry {
    padding-bottom: 5px;
}

.scroll {
   height: 600px;
   overflow: scroll;
}
.scroll::-webkit-scrollbar {
    width: 5px;
}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 2px;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/*
#pagination {
        margin-bottom: 10px;
//	width: 100%;
	font-size: 20px;
	font-family: inherit;
	padding: 6px;
}
*/

#footer #shameless {
    margin-left: -15px;
}

#footer img#node {
    width: 50px;
    float: left;
}

#footer img#ember{
    width: 60px;
    float: left;
}

#footer p {
    padding-top: 5px;
}

.hidden{
	display:none;
}

.clear {
    clear: both;
}
