<div class="full-entry">
  <div class="timestamp small">{{formatDate created_at}}</div>
  <div class="subject">
    {{subject}}
    <span class="permalink small">{{#link-to 'entry' id}}leperlink{{/link-to}}</span>
  </div>
  <div class="topics small"><strong>Topics</strong>: {{topicList}}</div>
  <div class="actual-entry">
    {{{entry}}}
  </div>
</div>
