<div id="entry-controls">
  {{#if prevEntry}}
    <span id="prev-entry" class="small">
      <a {{bind-attr href=prevEntryLink}}>&lt;&lt; {{formatDateAbbr prevEntry.created_at}}</a>
    </span>
  {{/if}}
  {{#if nextEntry}}
    <span id="next-entry" class="small">
      <a {{bind-attr href=nextEntryLink}}>{{formatDateAbbr nextEntry.created_at}} &gt;&gt;</a>
    </span>
  {{/if}}
  <br class="clear" />
</div>
