  <div id="martenblog" class="container">
    <div class="row">
      <div id="header" class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="row">
          <div id="bollocks" class="col-xs-12">
            <img src="images/gretel.jpg" alt="Gretel" class="col-xs-2 col-sm-2 img-rounded"/>
            <span id="title" class="col-xs-2 col-sm-2 col-sm-offset-4">Martenblog</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="hlavni" class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="row">
          <div id="rutabaga" class="col-xs-8 col-sm-8">
            {{outlet}}
          </div>
          <div id="sidebar" class="col-xs-4 col-sm-4">
            <div id="pointless-photo">
              <img src="images/mustelid.jpg" class="img-rounded" />
            </div>
            <div id="calendar">
              A calendar goes here
            </div>
            <div id="topics" class="scroll">
              {{render topics topics}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="footer" class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div id="shameless">
          <a href="http://nodejs.org"><img id="node" src="images/nodejs-green.png" /></a>
          <a href="http://emberjs.com"><img id="ember" src="images/emberjs-logo.png" /></a>
        </div>
        <p class="text-right small">
          (c) 2013 Bob Shelton
        </span>
      </div>
    </div>
  </div>
