    <section id="martenblog">
      <header id="header">
        <img src="images/gretel.jpg" />
        <span id="title">Martenblog</span>
      </header>
      <section id="hlavni">
        <section id="rutabaga">
          {{outlet}}
        </section>
        <section id="sidebar">
          <div id="pointless-photo">
            <img src="images/mustelid.jpg" />
          </div>
          <div id="calendar">
            A calendar goes here
          </div>
          <section id="topics">
            {{render topics topics}}
          </section>
        </section>
      </section>

      <br class="clear" />

      <footer id="footer">
        <span id="oort-cloud">
          (c) 2013 Bob Shelton
        </span>
      </footer>
    </section>
