          <div id="pagination">
            {{render "entry_count" entry_count}}
          </div>

          <section id="entries">
            {{#each}}
              {{marten-entry created_at=created_at truncated=truncated entry=entry subject=subject topicList=topicList lepra=id}}
            {{/each}}
          </section>
