<ul class="list-group list-unstyled">
  {{#each all_topics}}
    <li class="clear list-group-item">
      <span class="badge">{{entryCount}}</span>
      <a {{bind-attr href="#"}} {{action 'addTopicFilter' this}}>{{topic}}</a>
    </li>
  {{/each}}
</ul>
