<div id="entry-controls">
  {{#if prevDayLink}}
    <span id="prev-entry" class="small">
      <a {{bind-attr href=prevDayLink}}>
        &lt;&lt;
        <span id="prev-date">{{formatDay prevDay.created_at}}</span>
      </a>
    </span>
  {{/if}}
  <span id="go-home" class="small">
    {{#link-to 'entries' 1}}lemur{{/link-to}}
  </span>
  {{#if nextDayLink}}
    <span id="next-entry" class="small">
      <a {{bind-attr href=nextDayLink}}>
        <span id="next-date">{{formatDay nextDay.created_at}}</span>
        &gt;&gt;
      </a>
    </span>
  {{/if}}
  <br class="clear" />
</div>
